@import '../../global.css';

.Profile {
    background: rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 32%;
    right: 42%;
    background: white;

    width: 400px;
    height: 600px;
}

.ProfileFixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px;
}

.ProfilePhoto {
    width: 280px;
    height: 300px;
    border-radius: 500px;
    margin: 0 0 16px 0;
}

.ProfileFirstName,
.ProfileLastName {
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    margin: 0 0 8px 0;
}

.ProfileFirstName {
    font-weight: 600;
}

.UserData {
    display: flex;
    flex-direction: column;
    align-items: center;
}