@import '../../global.css';

.Posts {
    padding: 0;
    margin: 0;
    background: #E8E8E8;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.ContainerPost {
    margin: 16px 8px;
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat';
}

.NamePost,
.BoxImage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NamePost {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Tags {
    display: flex;
}

.TagName {
    padding: 0;
    margin: 4px 4px 4px 2px;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Montserrat';
}

.CardImage {
    width: 200px; 
    height: 200px;
    padding: 4px 0;
    margin: 0;
}

.PostImage{
    width: 100%;
    height: 100%;
}

.PostInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PosInformation--Likes {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.PosInformation--Likes__icon {
    margin: 0 2px 0 0;
    color: rgba(100, 100, 241, 0.712);
}

.ButtonPost {
    margin: 8px 0;
    padding: 4px 8px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #D8D8D8;
    cursor: pointer;
    font-family: 'Montserrat';
}

.ButtonPost:hover {
    border: 2px solid #D8D8D8;
    background: #D8D8D8;
    color: white;
}